---
layout: default
---

{% include header.html %}

<main class="post__archive tags-page">
  {% include header_nav.html %}

  <h1 class="tags-page__title">Tags</h1>

  {% assign sorted_tags = site.tags | sort %}

  {% for tag in sorted_tags %}
    {% assign tag_name = tag[0] %}
    {% assign tag_posts = tag[1] %}

    <section class="tag-section" id="{{ tag_name | slugify }}">
      <h2 class="tag-section__title">
        #{{ tag_name }}
        <span class="tag-section__count">{{ tag_posts | size }}</span>
      </h2>

      <ul class="tag-section__posts">
        {% for post in tag_posts %}
          <li>
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>

            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</main>

{% include footer.html %}