---
layout: default
---

{% include header.html %}

<main class="post__archive tags-page">
  {% include header_nav.html %}

  <h1 class="tags-page__title">Tags</h1>

  <div class="tags-cloud">
    {% assign sorted_tags = site.tags | sort %}

    {% for tag in sorted_tags %}
      {% assign tag_name = tag[0] %}
      {% assign tag_posts = tag[1] %}

      <a
        class="tags-cloud__item"
        href="#{{ tag_name | slugify }}"
      >
        #{{ tag_name }}
        <span>{{ tag_posts | size }}</span>
      </a>
    {% endfor %}
  </div>

  <div class="tags-results">
    {% for tag in sorted_tags %}
      {% assign tag_name = tag[0] %}
      {% assign tag_posts = tag[1] %}

      <section class="tag-section" id="{{ tag_name | slugify }}">
        <h2>#{{ tag_name }}</h2>

        <ul>
          {% for post in tag_posts %}
            <li>
              <time>{{ post.date | date: "%Y-%m-%d" }}</time>
              <a href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</main>

{% include footer.html %}